@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Chakra+Petch:wght@300;400;500;600&family=DM+Serif+Display:ital@0;1&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400;500;600;700;800;900&family=Play:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Rajdhani:wght@500;600;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");

$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Be Vietnam Pro", Helvetica, sans-serif;
}
body::-webkit-scrollbar {
  background-color: $dark-blue;
}
body::-webkit-scrollbar-thumb {
  background-color: $bright-red;
  border: 2px solid hsla(0, 0%, 10%, 0.3);
  border-radius: 30px / 70px;
}

ul {
  list-style: none;
}

button,
input {
  border: 0;
  outline: 0;
  background: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-blue;
  letter-spacing: -2px;
  font-weight: 600;
}

p {
  color: $dark-grayish-blue;
  line-height: 1.9;
}

a {
  text-decoration: none;
  transition-property: color, filter, background-color;
  transition-duration: 0.3s;
}

/* ################ utility classes ################ */
.container {
  max-width: 1100px;
  margin-inline: auto;
}

.section-padding {
  padding-inline: min(5vw, 4rem);
}

.field,
.btn {
  padding: 0.9rem 2rem;
  border-radius: 2.8rem;
}

.btn {
  display: inline-block;

  font-size: 0.8rem;
  font-weight: 700;

  cursor: pointer;

  transition-property: background-color, color, filter;
  transition-duration: 0.3s;
}
.primary-btn {
  background-color: $bright-red;
  color: white;
  box-shadow: 0 10px 20px -10px $bright-red;
}
.primary-btn:hover {
  background-color: hsl(12, 88%, 75%);
}
.secondary-btn {
  color: $bright-red;
  background-color: white;
}
.secondary-btn:hover {
  color: hsl(12, 88%, 75%);
}

.field {
  background: white;
  color: $dark-blue;
}
.field::placeholder {
  color: #aaa;
}
.field.failed::placeholder {
  color: $bright-red;
}

.hide-mobile {
  display: none;
}

.error-message {
  color: $bright-red;
  font-size: 0.7rem;
  text-align: left;
}

/* ################ HEADER ################ */
.first-back-mark,
.second-back-mark {
  position: absolute;
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -9999;
  aspect-ratio: 1;
}
.first-back-mark {
  width: 450px;
  top: -120px;
  right: -140px;
}
.second-back-mark {
  width: 300px;
  top: 15%;
  right: -160px;
}

header {
  height: 100px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 115px;
  }
}

#toggle-nav-button {
  width: 40px;
  aspect-ratio: 1;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 9999;
}

nav {
  .around {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1000;

    padding-top: 100px;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.5)
    );
    padding-inline: 7%;

    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none;
  }

  .around[data-visible="true"] {
    opacity: 1;
    pointer-events: all;
  }
}

nav:has(.around[data-visible="true"]) #toggle-nav-button {
  background-image: url("../images/icon-close.svg");
}

body:has(.around[data-visible="true"]),
html:has(.around[data-visible="true"]) {
  overflow-y: hidden;
}

#navList {
  display: flex;
  flex-direction: column;

  background-color: white;
  text-align: center;
  padding: 1.7rem 1rem;
  border-radius: 5px;

  a {
    display: block;
    padding-block: 0.8rem;
    color: $very-dark-blue;
    font-weight: 700;
    letter-spacing: -1px;
  }
  a:hover {
    color: $dark-grayish-blue;
  }
}

/* ################ main, footer, section ################ */
main,
footer {
  text-align: center;
}

section {
  h2 {
    font-size: 1.9rem;
    letter-spacing: -1px;
  }
}

/* ################ intro ################ */
#intro {
  padding-bottom: 3rem;

  .btn {
    margin-top: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    max-width: 370px;
    margin-inline: auto;
  }
}

/* ################ features ################ */
#features {
  padding-block: 3rem;

  counter-reset: feature;

  .question {
    margin-bottom: 3.5rem;

    h2,
    p {
      max-width: 85%;
      margin-inline: auto;
    }
  }

  ul {
    text-align: left;

    > * + * {
      margin-top: 2.5rem;
    }
  }

  .title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.8rem;
    position: relative;

    .back {
      position: absolute;
      inset: 0 auto 0 0;
      width: 1000px;
      background-color: $very-pale-red;
      border-radius: 2rem 0 0 2rem;
      z-index: -9999;
    }
  }

  .number {
    background-color: $bright-red;
    position: relative;
    width: 65px;
    aspect-ratio: 16 / 9;
    border-radius: 2rem;
    font-size: 0.9rem;
  }

  .number::before {
    counter-increment: feature;
    content: counter(feature, decimal-leading-zero);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  h2 {
    line-height: 1.5;
    margin-bottom: 0.7rem;
  }

  h3 {
    letter-spacing: -1px;
    font-size: 1rem;
  }

  p {
    font-size: 0.87rem;
  }
}

/* ################ testimonials ################ */
#testimonials {
  padding-block: 3rem;

  .slider {
    overflow-x: scroll;
    overflow-y: hidden;

    display: flex;
    margin-block: 3rem;

    > * {
      flex-shrink: 0;
    }
  }

  .slider::-webkit-scrollbar {
    height: 0.23cm;
  }
  .slider::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 70%);
    border-radius: 15px;
    transition: background-color 0.3s;
  }
  .slider::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 60%);
  }

  .inner-container {
    display: grid;
    grid-template-columns: repeat(4, 100vw);
    margin-inline: auto;
  }

  .testimonial-container {
    padding: 3rem 1.2rem 1rem;
  }

  .testimonial {
    background-color: $very-light-gray;
    text-align: center;
    position: relative;
    padding: 2.5rem 1rem 2.3rem;
    border-radius: .3rem;

    > * + * {
      margin-top: 1.4rem;
    }

    img {
      width: 75px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h3 {
      font-size: 1.1rem;
      letter-spacing: 0;
    }

    p {
      margin-inline: auto;
      font-size: 0.9rem;
    }
  }

  h2 {
    font-size: 1.9rem;
  }

  .balls {
    display: flex;
    gap: 5px;
    width: max-content;
    margin-inline: auto;
    margin-block: 3rem;
  }
  .ball {
    width: 9px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid $bright-red;
    transition: background-color 0.5s;
  }
  .ball[data-selected="true"] {
    background-color: $bright-red;
  }

  .btn {
    display: block;
    width: max-content;
    margin-inline: auto;
  }
}

/* ################ filler ################ */
#filler {
  background-color: $bright-red;

  padding: 6rem 1.5rem;
  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 50px;

  h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
}

/* ################ footer ################ */
footer {
  padding-block: 4rem;
  padding-inline: min(10vw, 4rem);
  background-color: $very-dark-blue;
  color: $very-light-gray;

  .container {
    display: grid;
    gap: 4rem;
    grid-template-areas:
      "form"
      "lists"
      "socials-and-logo"
      "copyright";
  }

  form {
    display: flex;
    align-items: start;
    gap: 0.5rem;

    grid-area: form;

    .input-container,
    .btn {
      flex-grow: 1;
    }

    .field {
      width: 100%;
    }

    .btn {
      box-shadow: none;
    }

    .error-message {
      margin-top: 0.2rem;
      margin-left: 1rem;
      display: none;
    }
  }

  .lists {
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;

    grid-area: lists;
  }

  .logo {
    margin-inline: auto;
  }

  .socials-and-logo {
    grid-area: socials-and-logo;

    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .copyright {
    grid-area: copyright;
    color: #999;
    font-size: 0.8rem;
  }
}

.footer-list {
  li {
    text-align: left;
  }

  li + li {
    margin-top: 1rem;
  }

  a {
    color: $very-light-gray;
    font-weight: 400;
    font-size: 0.85rem;
  }
  a:hover {
    color: $bright-red;
  }
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    font-size: 2rem;
  }
  a:hover {
    color: $bright-red;
  }

  .hide {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

.attribution {
  margin-top: 3rem;
  font-size: 0.9rem;
  text-align: center;

  a {
    color: $bright-red;
  }
  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 576px) {
  #testimonials {
    .inner-container {
      grid-template-columns: repeat(4, 375px);
    }
    .balls {
      display: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .hide-mobile {
    display: block;
  }

  .first-back-mark {
    width: 800px;
  }

  .second-back-mark {
    right: auto;
    top: 40%;
    left: -500px;
    width: 800px;
  }

  /* ################ header and nav ################ */
  header {
    height: 150px;

    .logo {
      width: auto;
    }
  }

  #toggle-nav-button {
    display: none;
  }

  nav {
    .around {
      position: static;
      background: none;
      opacity: 1;
      pointer-events: all;
      padding: 0;
    }
  }

  #navList {
    background: none;
    flex-direction: row;
    gap: 0;

    a {
      font-size: 0.9rem;
      // i know i could specify gap, but padding increases the range that the user can hover over
      padding-inline: .8rem;
    }
  }

  main,
  footer {
    text-align: left;
  }

  /* ################ intro ################ */
  #intro {
    padding-top: 4rem;

    .container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      .image-container {
        img {
          width: 100%;
        }

        flex: 1 0 50%;
      }
    }

    h1 {
      font-size: 3.5rem;
      margin-bottom: 1.3rem;
      line-height: 1.1;
    }

    p {
      margin-inline: 0;
      line-height: 1.6;
      font-size: 1.05rem;
    }
  }

  /* ################ features ################ */
  #features {
    .container {
      display: flex;

      ul {
        flex: 0 0 48%;
      }
    }

    .question {
      p,
      h2 {
        margin-inline: 0;
      }

      p {
        max-width: 350px;
      }
    }

    .title {
      gap: 20px;

      .back {
        display: none;
      }
    }

    .title + p {
      transform: translateX(85px);
      max-width: 85%;
      text-align: justify;
    }

    h2 {
      font-size: 2.6rem;
      line-height: 1.12;
      margin-bottom: 1.4rem;
    }

    p,
    h3 {
      font-size: 1.05rem;
    }

    p {
      line-height: 1.6;
    }
  }

  /* ################ testimonials ################ */
  #testimonials {
    padding-block: 7rem 11rem;

    
    .slider {
      overflow-x: hidden;
      padding-bottom: 8px;
    }
    .slider:hover {
      overflow-x: scroll;
      padding-bottom: 0;
    }
    
    .inner-container {
      grid-template-columns: repeat(4, 600px);
    }

    .testimonial {
      padding-inline: 2rem;
      
      p {
        line-height: 1.6;
        font-size: 1.05rem;
      }
    }

    h2 {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  /* ################ filler ################ */
  #filler {
    background-image: url("../images/bg-simplify-section-desktop.svg");
    background-position: 0 0;
    padding-block: 4rem;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      margin: 0;
      max-width: 500px;
      line-height: 1.1;
    }
  }

  /* ################ footer ################ */
  footer {
    .container {
      grid-template-areas:
        "socials-and-logo lists form"
        "socials-and-logo lists copyright";
      justify-content: space-between;
      gap: 0;
    }

    .socials-and-logo {
      flex-direction: column-reverse;
      justify-content: flex-end;
      gap: 5.5rem;
    }

    .lists {
      gap: 12rem;
      padding: 0;
    }

    .copyright {
      margin-top: 4rem;
      text-align: right;
    }
  }

  .footer-list {
    a {
      font-size: 0.9rem;
    }
  }

  .socials {
    justify-content: start;

    a {
      font-size: 1.4rem;
    }
  }

  .attribution {
    margin-top: 6rem;
  }
}
